BOT_TOKEN = 1234567890:ABC1de23FGHI_JklmnopqrstuvWXY4z_A5b
YOOMONEY_SECRET_KEY = aB1C2D245EFgHijk67L+mNOP
YOOMONEY_WALLET_ID = 1111110000000000
SQLITE_DATABASE_PATH = ./database/bot_database.db
ADMIN_ID = 1234567890
